/* ---------------------------------- */
/* Resets */
/* ---------------------------------- */
body, html, p, h1, h2, h3, h4, h5, h6, img, * {
  padding: 0;
  margin: 0;
}


body, html {
  font-family: Lato, sans-serif;
  font-size: 90%;
}

h1, h2 {
  font-family: 'Rum Raisin', serif;
}

h1, h2, h3 { margin: 10px 0;}

p {
    font-size: .9em;
    letter-spacing: .1em;
    line-height: 1.6em;
    margin-bottom: 10px;
}

span {
  font-size: 0.8rem;
}

.container {
  width: 740px;
  margin: 0 auto;
}

.main-content {
  float: left;
  width: 420px;
}

.sidebar {
  box-sizing: border-box;
  background-color: rgba(153, 153, 153, 0.3);
  padding: 20px;
  margin-left: 440px;
  width: 300px;
}

.sidebar p {
  color: #666;
}
